[Desktop Entry]
Type=Application
Name=Maolan DAW
Name[fr]=Maolan STAN
Comment=Rust Digital Audio Workstation
Comment[fr]=Station de travail numérique en Rust
GenericName=Rust Digital Audio Workstation
GenericName[fr]=Station de travail numérique en Rust
Exec=/usr/local/bin/maolan %f
Icon=/usr/local/share/icons/hicolor/scalable/apps/maolan.svg
Terminal=false
Categories=AudioVideo;Audio;Recorder;Music;
Keywords=audio;daw;music;mixing;recording;
StartupNotify=true
