[Desktop Entry]
Type=Application
Name=Maolan DAW
Comment=Rust Digital Audio Workstation
GenericName=Rust Digital Audio Workstation
Exec=/usr/local/bin/maolan %f
Icon=/usr/local/share/icons/hicolor/scalable/apps/maolan.svg
Terminal=false
Categories=AudioVideo;Audio;Recorder;Music;
Keywords=audio;daw;music;mixing;recording;
StartupNotify=true
